@model IEnumerable<FFMP.Data.Inspection>
@using FFMP.Data

@{
    ViewData["Title"] = "ObjectsInspections";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Navbar");
    }
    }

    <script>
        $(document).ready(function () {

            var table = $('#table').DataTable({
                order: [[0, 'desc']],
            });
        });
    </script>

@{
    int i = 0;
}
@foreach (var item in Model)
{
    if (i == 1)
    {
        break;
    }
    else{
        <h1 class="text-center">Showing inspections for @Html.DisplayFor(modelItem => item.Object.Name)</h1>
        i = i + 1;
    }
   

}
<br />

<p>
    @*<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@("#createInspection")" data-bs-url="@Url.Action($"Create")">Create Inspection</button>
    @await Html.PartialAsync("_CreatePartialView", new Inspection())*@
</p>
<table class="table table-striped" id="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>*@
            <th>
                @Html.DisplayName("State")
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Object)
            </th>*@
            <th>
                @Html.DisplayName("Creator")
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @if (item.ChangeOfState == true)
                    {
                        @Html.Raw("In order")
                    }
                    else if (item.ChangeOfState == false)
                    {
                        @Html.Raw("Out of order")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLoginNavigation.Login)
                </td>
                @*<td>*@
                    @*<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@("#createInspection-"+item.ObjectId)" data-bs-url="@Url.Action($"Create/{item.ObjectId}")">Create Inspection</button>
                    @await Html.PartialAsync("_CreatePartialView", new Inspection())*@
                  
               @* </td>*@
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Back to List</a>