@model IEnumerable<FFMP.Data.Inspection>
@using FFMP.Data

@{
    ViewData["Title"] = "ObjectsInspections";
}

<h1>Index</h1>


<p>
    @*<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@("#createInspection")" data-bs-url="@Url.Action($"Create")">Create Inspection</button>
    @await Html.PartialAsync("_CreatePartialView", new Inspection())*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observations)
            </th>*@
            <th>
                @Html.DisplayName("State")
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Object)
            </th>*@
            <th>
                @Html.DisplayName("Creator")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observations)
                </td>*@
                <td>
                    @if (item.ChangeOfState == true)
                    {
                        @Html.Raw("In order")
                    }
                    else if (item.ChangeOfState == false)
                    {
                        @Html.Raw("Out of order")
                    }
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Object.Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserLoginNavigation.Login)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @*<a asp-action="Create" asp-route-id="@item.Id">Create a new inspection</a>*@
                    @*<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@("#createInspection-"+item.ObjectId)" data-bs-url="@Url.Action($"Create/{item.ObjectId}")">Create Inspection</button>
                    @await Html.PartialAsync("_CreatePartialView", new Inspection())*@
                  
                </td>
            </tr>
        }
    </tbody>
</table>