@model IEnumerable<FFMP.Data.AuditingLog>

@{
    ViewData["Title"] = "AuditLogs";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_Navbar");
    }
    }

    <h1 class="text-center">List Of Completed Auditings</h1>
<hr />
<br />
<script>
    $(document).ready(function () {
        
        var table = $('#table').DataTable({
            order: [[0, 'desc']],
        });
    });
</script>
@if (Model.Any() && Model.FirstOrDefault().ObjectId != 0)
{
    <form asp-action="Create" asp-route-id="@Model.FirstOrDefault().ObjectId">
        <input type="submit" value="Create auditing" class="btn btn-info" formmethod="get" />
    </form>
    <br/>
}
<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Object)
            </th>
            <th>
               Actions
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            if (item.Created != null)
            {
        <tr>
            <td>
                @item.Created.Value.ToString("yyyy.MM.dd HH.mm.ss")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLoginNavigation.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Object.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>

            </td>
        </tr>
            }
        }
    </tbody>
</table>
