@model IEnumerable<FFMP.Data.AuditingLog>

@{
    ViewData["Title"] = "Index";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_Navbar");
    }
    }

<h1>Auditing Logs</h1>
<hr />
<br />
@if (Model.FirstOrDefault().ObjectId != 0)
{
    <form asp-action="Create" asp-route-id="@Model.FirstOrDefault().ObjectId">
        <input type="submit" value="Create New" class="btn btn-primary" formmethod="get" />
    </form>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLoginNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Object)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLoginNavigation.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Object.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
