@model IEnumerable<FFMP.Data.ObjectToCheck>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, FFMP
@using FFMP.Data

@{
    ViewData["Title"] = "ServiceObjects";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_Navbar");}
}

<h1 class="text-center">Service Object Management</h1>
<hr />
<br />

    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="@("#createObject")" data-bs-url="@Url.Action($"Create")">
        Create Service Object
    </button>
    @await Html.PartialAsync("_CreateObjectPartialView", new ObjectToCheck())


<br />
<br />

<script>$(document).ready(function () {

        var table = $('#table').DataTable({
            order: [[0, 'asc']],
        });
    });</script>

<table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Model)</th>
            <th>@Html.DisplayNameFor(model => model.State)</th>
            <th>@Html.DisplayName("Target group")</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>
                    <span class="@(item.State == true ? "green" : "red")">
                        @if (item.State == true)
                            @Html.Raw("In order")
                            else if (item.State == false)
                                @Html.Raw("Out of order")
                    </span>
                </td>
                <td>@Html.DisplayFor(modelItem => item.TargetGroup.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edit</a> |
                        <a asp-controller="Inspection"  asp-action="ObjectsInspections" asp-route-id=@item.Id class="btn btn-info btn-sm">Inspections</a>
                  @*  <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="@("#createInspection-"+item.Id)" data-bs-url="@Url.Action($"CreateInspection/{item.Id}")">Inspect</button>*@
                    @await Html.PartialAsync("_CreatePartialView", new Inspection{ObjectId = item.Id}) | 
                    @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a asp-action="Index" asp-controller="AuditingLogs" asp-route-id="@item.Id" class="btn btn-info btn-sm">Auditings</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
