@model FFMP.Data.Inspection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inspection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeOfState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeOfState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLoginNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLoginNavigation.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Object)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Object.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Timestamp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
