@model IEnumerable<FFMP.Data.AuditingForm>

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Navbar");
    }
    }

    <h1 class="text-center">Auditing Form Management</h1>
    <hr />
    <br />

    <form asp-action="Create">
        <input type="submit" value="Create New" class="btn btn-info" formmethod="get" />
    </form>
    <br />
    <script>
        $(document).ready(function () {

            var table = $('#table').DataTable({
                order: [[0, 'desc']],
            });
        });
    </script>
    <table class="table table-striped" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Created user
            </th>
            <th>
                Target group
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLoginNavigation.Login)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TargetGroup.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AuditingId" class="btn btn-info btn-sm">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.AuditingId" class="btn btn-danger btn-sm">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
