@model IEnumerable<FFMP.Data.AuditingForm>

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Navbar");
    }
    }

<h1>Auditing form management</h1>


    <form asp-action="Create">
        <input type="submit" value="Create New" class="btn btn-primary" formmethod="get" />
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Created user
            </th>
            <th>
                Target group
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLoginNavigation.Login)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TargetGroup.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuditingId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.AuditingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
